//    +-----------------------------------------+
//    | Love, Josh                              |
//    | https://github.com/lokua/happy-birthday |
//    +-----------------------------------------+
doctype
head(lang='en')
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Happy Birthday!
  meta(name='description' content='rawesomeness')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono')
  
body(ng-app='app' ng-controller='MainController as main')

  main(ng-show='main.show')
  
    .container.move-along(ng-show='!main.registered') {{main.nope}}
    .container.cmon(ng-show='main.registered && !main.valid') {{main.notToday}}
  
    .container(ng-show='main.registered && main.valid') 
      .line: .letter(ng-repeat='letter in main.tiding track by $index'
          class='clr--{{ main.getColor($index) }}')
          | {{letter}}
      .line: .letter.name(ng-repeat='letter in main.name track by $index'
          class='clr--{{ main.getColor($index) }}')
          | {{letter}}
    
  script(src='deps/Logger.min.js')
  script(src='deps/jquery.min.js')
  script(src='deps/angular.min.js')
  script(src='deps/move.min.js')
  script(src='happy-birthday.js')
